.error{
    font-size: 12px;
    padding: 3px;
    color: red;
    display: none;
    float: right;
    font-style: italic ;
}
input:invalid[focused="true"]{
    border: 1px solid red;
}

input:invalid[focused="true"] ~ .error{
    display: block;
}