@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
$red: rgba(255, 122, 122, 1) ;
$green: hsl(154, 59%, 51%);
$accent-blue: rgba(96, 85, 165, 1);
$dark-blue: hsl(249, 10%, 26%); 
$grayish-blue: hsl(246, 25%, 77%);
$font-family: 'Poppins', sans-serif;